<%= form_for @group do |form| %>
  <%= render 'partials/errors', object: @group %>

  <div class="form-group" id="new-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control', required: true, id: "group-name" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', required: true %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control', required: true %>
  </div>

  <%= form.submit class: "btn blue margin-top-10" %>
<% end %>
