<div class="col-12">
  <div class="position white shadow cf">
    <% if !@group.friends_requests.blank? && current_user.id == @group.owner_id %>
      <div class="row padding-20">
        <div class="col-12">
          <h4>Users who want to join your group</h4>
        </div>
      </div>
      <div class="row padding-20">
        <table class="hover">
          <thead>
            <tr class="text-13">
              <th>Name</th>
              <th>Technologies</th>
              <th>Hobbies</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% get_users_from_string(@group.friends_requests).each do |user| %>
              <tr>
                <td><%= full_name(user) %></td>
                <td>
                  <% user.technologies.each do |technology| %>
                    <a href="javascript:;" class="label orange-red hover-tooltip">
                      <span class="tooltip top text-capitalize"><%= technology.name %></span>
                      <%= technology.name %>
                    </a>
                  <% end %>
                </td>
                <td>
                  <ul>
                    <% user.hobbies.each do |hobby| %>
                      <li><%= hobby.name %></li>
                    <% end %>
                  </ul>
                </td>
                <td class="text-right">
                  <div class="action">
                    <a href="/accept-user/<%= user.id %>" class="btn icon s green border rounded hover-tooltip">
                      <span class="tooltip top">Accept</span>
                      <i class="fa fa-check"></i>
                    </a>
                    <a href="/reject-user/<%= user.id %>" class="btn icon s red border rounded hover-tooltip">
                      <span class="tooltip top">Reject</span>
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <div class="row padding-20">
      <div class="col-9">
        <h4><%= @group.name %></h4>
      </div>
      <div class="col-3 rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span class="a">☆</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4 tablet-col-persist shadow2">
        <%= image_tag(@group.image.url, class: 'thumbnail') %>
      </div>
      <div class="col-8 tablet-col-persist padding-left-20 lh">
        <p><span class="text-strong">Users in group:</span> <%= @group.users.length %></p>
        <p><span class="text-strong">Description:</span> <%= @group.description %></p>
      </div>
    </div>
    <% if current_user.id == @group.owner_id %>
      <div class="row padding">
        <div class="col-12">
          <%= link_to 'Delete my group', @group, method: :delete, class: "btn red" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-12">
        <h5 class="padding-20">Users</h5>
      </div>
    </div>
    <div class="row padding-20">
      <table class="hover">
        <thead>
          <tr class="text-13">
            <th>Name</th>
            <th>Technologies</th>
            <th>Hobbies</th>
            <% if current_user.id == @group.owner_id %>
              <th></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @group.users.each do |user| %>
            <tr>
              <td><%= full_name(user) %></td>
              <td>
                <% user.technologies.each do |technology| %>
                  <a href="javascript:;" class="label orange-red hover-tooltip">
                    <span class="tooltip top text-capitalize"><%= technology.name %></span>
                    <%= technology.name %>
                  </a>
                <% end %>
              </td>
              <td>
                <ul>
                  <% user.hobbies.each do |hobby| %>
                    <li><%= hobby.name %></li>
                  <% end %>
                </ul>
              </td>
              <% if current_user.id == @group.owner_id %>
                <td class="text-right">
                  <div class="action">
                    <a href="/delete-user/<%= user.id %>" data-method="delete" class="btn icon s red border rounded hover-tooltip">
                      <span class="tooltip top">Delete user</span>
                      <i class="fa fa-times"></i>
                    </a>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>