<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modulr.min.css">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modules/tooltip.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    
    <%= yield %>

  </body>
</html>
