<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/flash" %>
    <div class="row header">
      <%= render partial: "layouts/modal" %>

      <!-- Navbar Start -->
      <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
        <%= render partial: "layouts/right_nav" %>
      </div>
      <!-- Navbar End -->

      <!-- Row Intro Start -->
      <div class="row text-center push-top">
        <h2 class="text-white pull-left width-100 logo-title">Mundua</h2>
        <p class="text-white js-typed logo-subtitle">
          Find the Best Place to Work
        </p>
      </div>
      <!-- Row Intro End -->

      <!-- Search Form Start -->
      <div class="wrapper960 center">
        <form class="form l padding-10 cf" action="<%= search_path %>"  method="get">
          <div class="col-10">
            <input class="js-latitude" name="lat" type="hidden">
            <input class="js-longitude" name="lng" type="hidden">
            <input class="border-white -rounded js-address-search" type="text" placeholder="Search by city, neighborhood, or address...">
          </div>
          <div class="col-2">
            <button class="btn blue width-100">Search</button>
          </div>
        </form>
      </div>
      <!-- Search Form End -->

    </div>
    <!-- Header End -->
    <%= yield %>
    <%= render partial: "footer" %>        
  </body>
</html>
