<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modulr.min.css">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modules/tooltip.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <!-- Header Start -->
    <div class="row header">
      <%= render partial: "layouts/modal" %>

      <!-- Navbar Start -->
      <div class="navbar cf height-auto padding-20 transparent -tablet-padding">
        <%= render partial: "layouts/nav" %>
      </div>
      <!-- Navbar End -->

      <!-- Row Intro Start -->
      <div class="row text-center push-top">
        <h2 class="text-white pull-left width-100">Mundua</h2>
        <p class="text-white">
          Find the Best Place to Work
        </p>
      </div>
      <!-- Row Intro End -->

      <!-- Search Form Start -->
      <div class="wrapper960 center">
        <form class="form l padding-10 cf">
          <div class="col-10">
            <input class="border-white -rounded" type="text" placeholder="Search by city, neighborhood, or address...">
          </div>
          <div class="col-2">
            <button class="btn blue width-100">Search</button>
          </div>
        </form>
      </div>
      <!-- Search Form End -->

    </div>
    <!-- Header End -->
    <%= yield %>
    <%= render partial: "footer" %>        
  </body>
</html>
