<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <link rel="stylesheet prefetch" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet prefetch" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modulr.min.css">
    <link rel="stylesheet prefetch" href="https://decorator.io/cdn/modules/tooltip.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= render partial: "layouts/modal" %>
    <!-- Navbar Start -->
    <div class="navbar blue">
      <!-- Brand Start-->
      <%= link_to 'Mundua', root_path, class: "brand text-white" %>
      <!-- Brand End-->
      <!-- Menu Start-->
      <ul class="menu pull-left">
        <li class="divider"></li>
      </ul>
      <!-- Menu End -->
      
      <!-- Search Form Start-->
      <form class="form purple icon-right">
        <input class="border-transparent" type="text" placeholder="Search anything..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
       <!-- Search Form End-->
      
      <%= render partial: "layouts/nav" %>
      
    </div>
    <!-- Navbar End -->
    <%= yield %>

  </body>
</html>
