<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/flash" %>
    
    <%= render partial: "layouts/modal" %>
    
    <%= render partial: "layouts/nav" %>
    
    <div class="row">
      <%= render partial: "layouts/nav_profile" %>
      <div class="col-7 offset-left-1 padding-20">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
