<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/flash" %>
    
    <%= render partial: "layouts/modal" %>
    <!-- Navbar Start -->
    <div class="navbar blue">
      <!-- Brand Start-->
      <%= link_to 'Mundua', root_path, class: "brand text-white" %>
      <!-- Brand End-->
      <!-- Menu Start-->
      <ul class="menu pull-left">
        <li class="divider"></li>
      </ul>
      <!-- Menu End -->
      
      <!-- Search Form Start-->
      <form class="form purple icon-right" action="<%= search_path %>"  method="get">
        <input class="js-latitude" name="lat" type="hidden">
        <input class="js-longitude" name="lng" type="hidden">
        <input class="border-transparent js-address-search" type="text" placeholder="Search anything..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
       <!-- Search Form End-->
      
      <%= render partial: "layouts/nav" %>
      
    </div>
    <!-- Navbar End -->
    <div class="row">
      <div class="col-3 padding-top-20 col-persist">
        <ul class="filter filter-right blue js-profile-nav">
          <li><a href="/profile">Profile</a></li>
          <% if current_user.group.nil? %>
            <li><%= link_to 'New Group', new_group_path %></li>
          <% else %>
            <li><%= link_to 'Show Group', show_group_path %></li>
          <% end %>
          <li><%= link_to 'New House', new_house_path %></li>
          <% if defined?(current_user.group.house) && !current_user.group.house.nil? %>
            <li><%= link_to 'Show Group House', group_house_path %></li>
          <% end %>
          <li><%= link_to 'Show My Houses', my_houses_path %></li>
          <li><%= link_to 'Change password', change_password_path %></li>
        </ul>
      </div>
      <div class="col-7 offset-left-1 padding-20">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
