<!DOCTYPE html>
<html>
  <head>
    <title>Mundua</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
    <%= render partial: "layouts/modal" %>
    <!-- Navbar Start -->
    <div class="navbar blue">
      <!-- Brand Start-->
      <%= link_to 'Mundua', root_path, class: "brand text-white" %>
      <!-- Brand End-->
      <!-- Menu Start-->
      <ul class="menu pull-left">
        <li class="divider"></li>
      </ul>
      <!-- Menu End -->
      
      <!-- Search Form Start-->
      <form class="form purple icon-right" action="<%= search_path %>"  method="get">
        <input class="js-latitude" name="lat" type="hidden">
        <input class="js-longitude" name="lng" type="hidden">
        <input class="border-transparent js-address-search" type="text" placeholder="Search anything..">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
       <!-- Search Form End-->
      
      <%= render partial: "layouts/nav" %>
      
    </div>
    <%= yield %>
  </body>
</html>
